# Data Types and Structures Questions

1. What are data structures, and why are they important?
   - Python data structures like lists, dictionaries, sets, and tuples organize data, making coding faster by efficiently managing storage, sorting, and access.  

2. Explain the difference between mutable and immutable data types with examples.  
   - Mutable types (e.g., lists) can change after creation; immutable types (e.g., tuples) cannot. Example: [1, 2] -> [1, 3] (mutable), (1, 2) (immutable).  

3. What are the main differences between lists and tuples in Python?*  
   - Lists are mutable with [ ], while tuples are immutable with ( ). Lists are flexible and slower; tuples are faster and fixed.  

4. Describe how dictionaries store data.*  
   - Dictionaries store key-value pairs in { }, with unique keys linking to values. Example: {"name": "Alice", "age": 25}.  

5. Why might you use a set instead of a list in Python?*  
   - Sets ensure unique items and remove duplicates automatically, making them faster for membership checks. Example: {1, 2, 3}.  

6. What is a string in Python, and how is it different from a list?*  
   - Strings are immutable sequences of characters (e.g., "hello"), while lists are mutable and can store different types like [1, "hi", 3].  

7. How do tuples ensure data integrity in Python?*  
   - Tuples are immutable, preventing accidental changes, making them reliable for constant data, e.g., (1, 2, 3).  

8. What is a hash table, and how does it relate to dictionaries in Python?*  
   - A hash table stores data as key-value pairs. Dictionaries use hash tables for fast lookups and efficient storage.  

9. Can lists contain different data types in Python?*  
   - Yes, lists can hold numbers, strings, and other objects together, offering flexibility.  

10. Explain why strings are immutable in Python.*  
    - Strings are immutable to ensure consistency and prevent accidental changes. Modifications create new strings.  

11. What advantages do dictionaries offer over lists for certain tasks?*  
    - Dictionaries provide fast lookups with keys and organize data meaningfully, e.g., {"name": "Alice"}.  

12. Describe a scenario where using a tuple would be preferable over a list.*  
    - Use tuples for unchangeable data like coordinates (10, 20) or days of the week.  

13. How do sets handle duplicate values in Python?
    - Sets remove duplicates automatically. {1, 2, 2, 3} becomes {1, 2, 3}, keeping only unique items.  

14. How does the “in” keyword work differently for lists and dictionaries?
    - In lists, it checks for values, e.g., 3 in [1, 2, 3]. In dictionaries, it checks for keys, e.g., 'name' in {'name': 'Alice'}.  

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, tuples are immutable, so their elements cannot change. This ensures data integrity.  

16. What is a nested dictionary, and give an example of its use case.
    - A nested dictionary has dictionaries inside it, e.g., {"student1": {"name": "Alice"}, "student2": {"name": "Bob"}}.  

17. Describe the time complexity of accessing elements in a dictionary.  
    - Dictionary lookups are fast with O(1) time complexity, using hashing to locate keys.  

18. In what situations are lists preferred over dictionaries?
    - Lists are better for ordered data or when key-value pairs aren’t needed, e.g., [1, 2, 3].  

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries use hashing, not order, for fast key-based retrieval. Order doesn’t affect performance.  

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Lists use indexes (my_list[0]); dictionaries use keys (my_dict["name"]).

# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
print("my name is nikhil")

my name is nikhil

2.: Write a code to find the length of the string "Hello World".

In [ ]:
string="Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string="Python Programming"
sliced_stirng=string[:3]
print(sliced_stirng)

Pyt

4.Write a code to convert the string "hello" to uppercase?

In [ ]:
string="hello"
string_uppercase=string.upper()
print(string_uppercase)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
string="I like apple"
new_string=string.replace("apple","orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
letters=['a','b','c','d']
second_element=letters[1]
print(second_element)

b

 10.Write a code to reverse the list [10, 20, 30, 40, 50]. 10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers=[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [ ]:
numbers=(10, 20, 30)
print(numbers)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
fruits=('apple', 'banana', 'cherry')
print(fruits[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').?

In [ ]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

16. Create a set with the elements 1, 2, 3, 4, 5 and print it.?

In [ ]:
numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

17. Add the element 6 to the set {1, 2, 3, 4}?

In [ ]:
numbers = {1, 2, 3, 4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}

18. Create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
numbers = (10, 20, 30)
print(numbers)

(10, 20, 30)

19. Access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

 22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

23. Create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

24. Add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}